.main{
  margin-bottom: 50px;
}

.bg-card{
  //background-image: url('../../../assets/backgrounds/2.jpg');
  //background-image: url('../../../assets/backgrounds/27.jpg');
  background-color: #e1e3f4;
  background-repeat: round;
}

.mat-card{
  min-width: max-content;
}
