.main{
  margin-bottom: 50px;
}

.bg-card{
  //background-image: url('../../../assets/backgrounds/2.jpg');
  //background-image: url('../../../assets/backgrounds/27.jpg');
  background-color: #73d256e0 !important;
  background-repeat: round;
}

.mat-card{
  min-width: max-content;
}
