<div fxLayout="row" fxLayoutAlign="center center">
  <div fxFlex="95" class="skill-lists">
    <h2>Skills</h2>


    <div>

        <h3 class="title"><strong>Technical Skills</strong></h3>

      <div class="chips">
        <div fxLayout="row" fxLayoutAlign="start center">
          <h4 class="inline">Programming Languages &nbsp; : &nbsp; &nbsp;</h4>
          <mat-chip-list >
            <mat-chip>C/C++</mat-chip>
            <mat-chip>Java</mat-chip>
            <mat-chip>Python</mat-chip>
            <mat-chip>C#</mat-chip>
            <mat-chip>Bash</mat-chip>
          </mat-chip-list>
        </div>

        <div fxLayout="row" fxLayoutAlign="start center">
          <h4 class="inline">Web Development &nbsp; : &nbsp; &nbsp;</h4>
          <mat-chip-list >
            <mat-chip>HTML/CSS/JS/PHP</mat-chip>
            <mat-chip>Angular</mat-chip>
            <mat-chip>Vue.js</mat-chip>
            <mat-chip>Prestashop</mat-chip>
            <mat-chip>Symfony</mat-chip>
            <mat-chip>.Net Core</mat-chip>
            <mat-chip>NestJS</mat-chip>
            <mat-chip>Express</mat-chip>
          </mat-chip-list>
        </div>


        <div fxLayout="row" fxLayoutAlign="start center">
          <h4 class="inline">Databases &nbsp; : &nbsp; &nbsp;</h4>
          <mat-chip-list >
            <mat-chip>MySQL</mat-chip>
            <mat-chip>Oracle</mat-chip>
            <mat-chip>MongoDB</mat-chip>
          </mat-chip-list>
        </div>


        <div fxLayout="row" fxLayoutAlign="start center">
          <h4 class="inline">DevOps &nbsp; : &nbsp; &nbsp;</h4>
          <mat-chip-list >
            <mat-chip>Docker</mat-chip>
            <mat-chip>Openshift</mat-chip>
            <mat-chip>Kubernetes</mat-chip>
            <mat-chip>Puppet</mat-chip>
            <mat-chip>Terraform</mat-chip>
            <mat-chip>AWS</mat-chip>
          </mat-chip-list>
        </div>


        <div fxLayout="row" fxLayoutAlign="start center">
          <h4 class="inline">Other &nbsp; : &nbsp; &nbsp;</h4>
          <mat-chip-list >
            <mat-chip>Git</mat-chip>
            <mat-chip>Unity</mat-chip>
            <mat-chip>STM32</mat-chip>
            <mat-chip>Arduino</mat-chip>
          </mat-chip-list>
        </div>

      </div>
    </div>

    <div>

        <h3 class="title"><strong>Soft Skills</strong></h3>

      <div class="chips">
        <div fxLayout="row" fxLayoutAlign="start center">
          <mat-chip-list >
            <mat-chip>Adaptability</mat-chip>
            <mat-chip>Time Management</mat-chip>
            <mat-chip>Communication</mat-chip>
          </mat-chip-list>
        </div>
      </div>
    </div>
  </div>
</div>
