<div fxLayout="row" fxLayoutAlign="center center">
  <mat-card fxLayout="row" fxLayoutAlign="space-around center" fxFlex="85">
    <div fxFlex="5"></div>
    <div fxLayout="column">
      <div mat-card-avatar class="about-image"></div>
      <!--<h3 class="about-name">{{name}}</h3>-->
      <p class="header-links" fxLayout="row">
        <a [href]="github_link" target="_blank" class="icon github"></a>
        <a [href]="linkedin_link" target="_blank" class="icon linkedin"></a>
        <a [href]="email_link" target="_blank" class="icon email"></a>
        <a [href]="phone_link" target="_blank" class="icon phone"></a>
      </p>

    </div>
    <div fxFlex="10"></div>

    <div fxFlex>
      <div fxLayout="column" fxLayoutAlign="space-around stretch" class="name-stuff">
        <div fxLayout="row" fxLayoutAlign="space-between center" class="name-stuff name-stuff-2">
          <h1>{{name}}</h1>
          <span class="buttons">
            <a mat-raised-button color="accent" href="../../../assets/docs/cv.pdf" target="_blank" download="sirine-achour-cv.pdf">Download Resume</a>
            <a mat-raised-button color="primary" href="#contact">Contact</a>
          </span>
        </div>
        <h2> Software engineer </h2>
        <h3>
        <!--
          I'm a quick learner with a varied set of skills which makes me both flexible and knowledgable.
          <br>
          I am hardworking, dependable and highly motivated
          <br>
          I tend to come up with creative and innovative solutions
          <br>
          I learn fast so dealing unfailiar technologies is not a set back
          <br>
          I am used to having to quicky adapt to a unfamiliar techonology so it was never a set back.
        -->
        <!--I'm a highly motivated quick learner with a varied set of skills which makes me both flexible and knowledgable.-->

        I'm a versatile software engineer, experienced in development, and passionate about DevOps, and security.
        </h3>
        <mat-list>
          <mat-divider [inset]="true"></mat-divider>
          <mat-list-item>
            <div fxFlex="40">Age: </div>
            <div fxFlex="60"> {{age}} </div>
          </mat-list-item>
          <mat-divider [inset]="true"></mat-divider>
          <mat-list-item>
            <div fxFlex="40">Gender: </div>
            <div fxFlex="60"> {{gender}} </div>
          </mat-list-item>

          <mat-divider [inset]="true"></mat-divider>
          <mat-list-item>
            <div fxFlex="40">Address: </div>
            <div fxFlex="60"> {{address}} </div>
          </mat-list-item>
          <mat-divider [inset]="true"></mat-divider>
          <mat-list-item>
            <div fxFlex="40">Status: </div>
            <div fxFlex="70"> 5th-year software engineering student </div>
          </mat-list-item>
          <mat-divider [inset]="true"></mat-divider>
          <mat-list-item>
            <div fxFlex="40">Looking for: </div>
            <div fxFlex="60"> End of studies internship</div>
          </mat-list-item>
          <mat-divider [inset]="true"></mat-divider>
          <!--<mat-list-item>
            <div fxFlex="50">Availablity: </div>
            <div fxFlex="50"> Full-time</div>
          </mat-list-item>-->
        </mat-list>
      </div>
 </div>
    <div fxFlex="5"></div>
  </mat-card>
</div>
