mat-card{
  height: max-content;
  /*width: 95%;*/
  flex-wrap: wrap;
}

#about mat-card div{
 margin: 0;
 padding: 0;
}

.about-image {
  /*background-image: url('../../../assets/img/me-1.png');*/
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
  height: 300px;
  width: 300px;
  border-radius: 300px;
  align-self: center;
  margin-bottom: 30px;
}

.about-name{
  align-self: center;
  margin-top: 10px;
}

mat-card{
  margin-top: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.icon{
  display: inline-block;
}

.buttons button{
  /*margin-top: 10px;*/
  margin-right: 5px;
}

.name-stuff h1{
  font-size: 40px;
  margin-bottom: 0px;
}

.name-stuff h2{
  margin-bottom: 30px;
}

.name-stuff-2{
  flex-wrap: wrap-reverse;
}

.header-links{
  align-self: center;
}
