<div fxLayout="row" fxLayoutAlign="center center">
  <mat-card fxLayout="row" fxLayoutAlign="space-around center" fxFlex="85">
    <div fxFlex="5"></div>
    <div fxLayout="column">
      <div mat-card-avatar class="about-image"></div>
      <!--<h3 class="about-name">{{name}}</h3>-->

    </div>
<div fxFlex="10"></div>

    <div fxFlex>
      <div fxLayout="column" fxLayoutAlign="space-around stretch" class="name-stuff">
        <div fxLayout="row" fxLayoutAlign="space-between center" class="name-stuff">
          <h1>{{name}}</h1>
          <span class="buttons">
            <button mat-raised-button color="accent">Download CV</button>
            <button mat-raised-button color="primary">Contact</button>
          </span>
        </div>
        <h2> Software engineer </h2>
        <h3> ma7leni w 5addema w lkol <br> also into barcha stuff </h3>
        <mat-list>
          <mat-list-item>
            <div fxFlex="50">Age : </div>
            <div fxFlex="50"> {{age}} </div>
          </mat-list-item>
          <mat-divider [inset]="true"></mat-divider>
          <mat-list-item>
            <div fxFlex="50">Gender : </div>
            <div fxFlex="50"> {{gender}} </div>
          </mat-list-item>

          <mat-divider [inset]="true"></mat-divider>
          <mat-list-item>
            <div fxFlex="50">Address : </div>
            <div fxFlex="50"> {{address}} </div>
          </mat-list-item>
          <mat-divider [inset]="true"></mat-divider>
          <mat-list-item>
            <div fxFlex="50">Status : </div>
            <div fxFlex="50"> 5th year software engineering student </div>
          </mat-list-item>
          <mat-divider [inset]="true"></mat-divider>
          <mat-list-item>
            <div fxFlex="50">Looking for : </div>
            <div fxFlex="50"> End of studies internship</div>
          </mat-list-item>
          <!--<mat-divider [inset]="true"></mat-divider>
          <mat-list-item>
            <div fxFlex="50">Email : </div>
            <div fxFlex="50"> {{email}} </div>
          </mat-list-item>
          <mat-divider [inset]="true"></mat-divider>
          <mat-list-item>
            <div fxFlex="50">Phone : </div>
            <div fxFlex="50"> {{phone}}</div>
          </mat-list-item>-->
          <mat-divider [inset]="true"></mat-divider>
          <mat-list-item>
            <div fxFlex="50">Availablity : </div>
            <div fxFlex="50"> Full-time</div>
          </mat-list-item>
        </mat-list>
      </div>

      <!--<p><a href="https://www.google.com/maps/place/Cit%C3%A9+Olympique,+Tunis/@36.8359808,10.1933136,17z/data=!3m1!4b1!4m5!3m4!1s0x12fd34eb07a3b3d3:0x23c5f2a17f328a58!8m2!3d36.8366471!4d10.1948404" target="_blank" class="icon location"></a> Cité Olympique, Menzah 1, Tunis - Tunisia</p>
    <p><a href="mailto:sirine.achour@insat.u-carthage.tn" target="_blank" style="background-image: url('../assets/icons/envelope.png');" class="icon"></a> sirine.achour@insat.u-carthage.tn</p>
    <p><a href="tel:+21694032272" target="_blank" style="background-image: url('call-answer.png');" class="icon"></a> +216 94 032 272</p>
    <p><a [href]="linkedin" target="_blank" class="icon linkedin"></a> linkedin.com/in/sirine-achour/</p>
    <p><a [href]="github" target="_blank" class="icon github"></a> github.com/sirineachour</p>-->
    </div>
    <div fxFlex="5"></div>
  </mat-card>
</div>
