mat-card{
  height: max-content;
  /*width: 95%;*/
}

#about mat-card div{
 margin: 0;
 padding: 0;
}

.about-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
  height: 200px;
  width: 200px;
  border-radius: 100px;
  align-self: center;
}

.about-name{
  align-self: center;
  margin-top: 10px;
}

mat-card{
  margin-top: 60px;
}

.icon{
  display: inline-block;
}

.buttons button{
  margin-top: 10px;
  margin-right: 5px;
}
