::ng-deep .block.mat-chip{
  border-radius: 0px !important;
}

.mat-chip.mat-standard-chip.mat-chip-selected.mat-primary {
  //background-color: #9980c6 !important;
  background-color: #00566a !important;
  color: #fff !important;
  border: 2px white solid;
}
