<div fxLayout="row" fxLayoutAlign="center center">
  <div fxFlex="100">
    <div fxLayout="row" fxLayoutAlign="space-between none">
      <h2>Certificates</h2>
      <div class="accord-btns">
        <button mat-button (click)="accord.openAll()">Expand All</button>
        <button mat-button (click)="accord.closeAll()">Collapse All</button>
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="center start" >
    <mat-accordion [multi]="true" #accord="matAccordion">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <strong>Introduction to Containers with Docker, Kubernetes, and OpenShift</strong>
            <small class="text-muted"> Present</small>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <small>  Coursera<a href="https://www.coursera.com/" target="_blank" class="icon link"></a></small>
        </div>

        <br>
        <p>
          I am currently taking this certified online course to learn some theoretical DevOps fundamentals.
        </p>
        <br>
        <button mat-stroked-button color="primary" disabled> View Certificate </button>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <strong>Pentesting and Securing Web Applications (Ethical Hacking)</strong>
            <small class="text-muted"> Present</small>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <small>  Udemy<a href="https://www.udemy.com/" target="_blank" class="icon link"></a></small>
        </div>
        <br>
        <p>
            I am currently taking this certified udemy course to learn some pentesting basics.
          <br>
            So far, I learned about:
          <br>
          - &nbsp; Injection
        </p>
        <br>
        <button mat-stroked-button color="primary" disabled> View Certificate </button>
      </mat-expansion-panel>

      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <strong>Google IT Automation with Python Specialization Certificate</strong>
            <small class="text-muted"> Aug 2020</small>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <small>  Coursera<a href="https://www.coursera.com/" target="_blank" class="icon link"></a></small>
        </div>
        <br>
        <p>
          <a href="https://coursera.org/share/4eec4032e3879b4b2c5d9fcf2aa59dcd" target="_blank" class="icon coursera"></a> Crash Course on Python
          <br>
          <a href="https://coursera.org/share/bf1211d306b19bd54b9f7d6231d6789b" target="_blank" class="icon coursera"></a> Using Python to interact with the Operating System
          <br>
          <a href="https://coursera.org/share/b09a8269b763455298e93823500c00f2" target="_blank" class="icon coursera"></a> Introduction to Git and GitHub
          <br>
          <a href="https://coursera.org/share/1a791f081ef025d7e41b9ba8dd38d620" target="_blank" class="icon coursera"></a> Troubleshooting and Debugging Techniques
          <br>
          <a href="https://coursera.org/share/48d0ed827501f39c3a59cee5874079f0" target="_blank" class="icon coursera"></a> Configuration Management and the Cloud
          <br>
          <a href="https://coursera.org/share/e8fc3f12ddce8d373df76281034640f6" target="_blank" class="icon coursera"></a> Automating Real-World Tasks with Python
        </p>
        <br>
        <a mat-stroked-button color="primary" href="https://coursera.org/share/8165ca645729ee9ad9f4074b7ae8ed1c" target="_blank" id="coursera"> View Certificate </a>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <strong>
              General English diploma with honors
            </strong>
            <small class="text-muted"> May 2015</small>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <small>Bourguiba institute of
            modern languages<a href="https://www.iblv.rnu.tn/" target="_blank" class="icon link"></a></small>
        </div><br>
        <p>
          Upper-intermediate level general English
        </p>
        <br>
        <a mat-stroked-button color="primary" href="../../../assets/docs/bourguiba/certificate_Arabic.pdf" target="_blank"> View Certificate (Arabic)</a>
        &nbsp;
        <a mat-stroked-button color="primary" href="../../../assets/docs/bourguiba/certificate_French.pdf" target="_blank"> View Certificate (French)</a>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
</div>
