<div>
  <div class="jobster-candidate-timeline">
    <div class="jobster-timeline-item">
      <div class="jobster-timeline-cricle">
        <i class="far fa-circle"></i>
      </div>
      <div class="jobster-timeline-info">
        <div class="dashboard-timeline-info">
          <span class="jobster-timeline-time">2020-6-01 to 2020-6-01</span>
          <h6 class="mb-2">Web Designer</h6>
          <span>- Inwave Studio</span>
          <p class="mt-2">One of the main areas that I work on with my clients is shedding these non-supportive beliefs and replacing them with beliefs that will help them to accomplish their desires.</p>
        </div>
      </div>
    </div>
    <div class="jobster-timeline-item mb-0">
      <div class="jobster-timeline-cricle">
        <i class="far fa-circle"></i>
      </div>
      <div class="jobster-timeline-info">
        <div class="dashboard-timeline-info">
          <span class="jobster-timeline-time">2020-6-01 to 2020-6-01</span>
          <h6 class="mb-2">Secondary School Certificate</h6>
          <span>- Engineering High School</span>
          <p class="mt-2">Figure out what you want, put a plan together to achieve it, understand the cost, believe in yourself then go and get it!</p>
        </div>
      </div>
    </div>
  </div>
</div>
