
        <div class="resume-box">
          <ul>
            <li>
              <div class="icon">
                <i class="fas fa-user-graduate"></i>
              </div>
              <span class="time">2019 - Present</span>
              <h5>Art Director - Facebook Inc</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua iojop hn ygfvgbh yftcvgb uygft ègtyftv tf vtcfvg yfygjhkj rtfryguh tfxrdfgth rcytgu hftrcygu rtcfghjb tcygv tfcghj  xtfcygvbhh tfcgvbhn ytfrxcfvb tfrxdcfgvhb dxcfgvbh gfdrxcfghbyfrtdc fvgb.</p>
            </li>
            <li>
              <div class="icon">
                <i class="fas fa-user-graduate"></i>
              </div>
              <span class="time">2019 - Present</span>
              <h5>Art Director - Facebook Inc</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.</p>
            </li>
            <li>
              <div class="icon">
                <i class="fas fa-user-graduate"></i>
              </div>
              <span class="time">2019 - Present</span>
              <h5>Art Director - Facebook Inc</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.</p>
            </li>
          </ul>
        </div>
