<div>
<div fxLayout="row" fxLayoutAlign="center center">
  <div fxFlex="100">
    <div fxLayout="row" fxLayoutAlign="space-between none">
      <h2>Academic Projects</h2>
      <div class="accord-btns">
        <button mat-button (click)="accord.openAll()">Expand All</button>
        <button mat-button (click)="accord.closeAll()">Collapse All</button>
      </div>
    </div>
    <div>
      <mat-accordion [multi]="true" #accord="matAccordion">

        <mat-expansion-panel *ngFor="let project of projects">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <strong>
                {{ project.title }}
              </strong>
              <small class="text-muted">
                {{ project.date }}</small>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p [innerHTML]="project.description">
          </p>
          <span *ngIf="project.skills">
            <br>
            <span>
              <mat-chip-list>
                Applied skills : &nbsp;
                <mat-chip *ngFor="let skill of project.skills" selected>{{skill}}</mat-chip>
              </mat-chip-list>
            </span>
          </span>
          <br>
          <br>
          <span *ngFor="let doc of project.docs">
            <a mat-flat-button [href]="doc.path" target="_blank" color="primary" class="buttons">{{doc.name}}</a>
          </span>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
<br>
<div fxLayout="row" fxLayoutAlign="center center">
  <div fxFlex="100">
    <div fxLayout="row" fxLayoutAlign="space-between none">
      <h2>Personal Projects</h2>
      <div class="accord-btns">
        <button mat-button (click)="accordp.openAll()">Expand All</button>
        <button mat-button (click)="accordp.closeAll()">Collapse All</button>
      </div>
    </div>
    <div>
      <mat-accordion [multi]="true" #accordp="matAccordion">

        <mat-expansion-panel *ngFor="let project of oersonal_projects">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <strong>
                {{ project.title }}
              </strong>
              <small class="text-muted">
                {{ project.date }}</small>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p [innerHTML]="project.description">
          </p>
          <span *ngIf="project.skills">
            <br>
            <span>
              <mat-chip-list>
                Applied skills : &nbsp;
                <mat-chip *ngFor="let skill of project.skills" selected>{{skill}}</mat-chip>
              </mat-chip-list>
            </span>
          </span>
          <br>
          <br>
          <span *ngFor="let doc of project.docs">
            <a mat-flat-button [href]="doc.path" target="_blank" color="primary" class="buttons">{{doc.name}}</a>
          </span>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>

</div>