<div fxLayout="row" fxLayoutAlign="center center">
  <div fxFlex="95">
    <h2>Projects</h2>
    <div class="cards">
      <mat-card class="card" *ngFor="let project of projects">

        <mat-card-header>
          <div fxLayout="row">
            <!--MAYBE TURN PROJECTS INTO EXPANDABLES-->
            <div>
              <mat-card-title>{{ project.title }}
                <span class="type" *ngIf="project.type">[{{project.type}}]</span>
              </mat-card-title>
              <mat-card-subtitle>{{ project.date }}</mat-card-subtitle>
            </div>
          </div>
        </mat-card-header>
        <mat-card-content>
          <p [innerHTML]="project.description">
          </p>
          <span *ngIf="project.skills">
            <br>
            <span class="inline">
            Applied skills : &nbsp;
              <mat-chip-list >
                <mat-chip  *ngFor="let skill of project.skills" selected>{{skill}}</mat-chip>
              </mat-chip-list>
            </span>
          </span>
          <br>
          <br>
          <span *ngFor="let doc of project.docs">
          <a mat-flat-button [href]="doc.path" target="_blank" color="primary" class="buttons">{{doc.name}}</a>
        </span>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
