.tool {
    width: 95%;
    align-self: center;
    height: 60px;
}

::ng-deep .mat-tab-link {
    min-width: 0px !important;
    width: auto !important;
    height: 60px !important;
}

.side-element{
  width: 200px;
}

.side-element a{
  height: 50px;
  align-items: center !important;
}

::ng-deep mat-drawer-content{
  display: contents !important;
}

::ng-deep mat-drawer{
  position: fixed !important;
}

::ng-deep mat-toolbar{
  position: fixed;
}

.header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
  height: 100px;
  width: 100px;
  border-radius: 100px;
  align-self: center;
  margin-top: 30px;
}

.header-name{
  align-self: center;
  margin-top: 10px;
}



.header-links{
  align-self: center;
}

.content{
display: inline;
/*background: rgb(253,45,84);
background: linear-gradient(0deg, rgba(45,253,65, 0.034) 0%, rgba(34, 101, 195, 0.034) 63%);*/

background: rgba(34, 117, 195, 0.089);/*
background: linear-gradient(0deg, rgba(0,218,21,0.0289915795419731) 0%, rgba(34,118,195,0.1264705711386117) 63%);*/
}

.content div{
  padding-top: 60px;
}

#about{
  background-image: url('../assets/backgrounds/3.jpg');
  background-repeat: repeat-x;
background-size: 100% 70%;
}

.name{
  margin-left: 20px;
}

::ng-deep mat-icon.l-icon{
  vertical-align: baseline !important;
}

::ng-deep mat-icon.ll-icon{
  vertical-align: text-bottom !important;
}

.up{
  position: fixed;
bottom: 0;
right: 0;
margin: 20px;
}
