.browse {
    position: fixed;
    bottom: 45%;
    margin: 20px !important;
    z-index: 10 !important;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.preview{
    margin: 0 !important;
    padding: 0 !important;
}

::ng-deep .mat-dialog-container{
    padding: 0 !important;
    background: transparent !important;
    box-shadow: none !important;
}


.nav-btn{
    margin: 10px;
}

mat-icon{
    position: relative;
    bottom: 5px;
}