<div fxLayout="row" fxLayoutAlign="space-between center">
  <div *ngIf="index != 0" fxFlex="9">
    <button mat-flat-button (click)="left()">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
  </div>
  <img

  fxFlex="80"
    mat-dialog-content
    [src]="data.images[index]"
    alt="screenshot of project"
    class="preview"
    height="485"
  />
  <div *ngIf="index != final" fxFlex="9">
    <button mat-flat-button (click)="right()">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </div>
</div>
