<div fxLayout="row" fxLayoutAlign="center center">
  <div fxFlex="100" class="skill-lists">
    <h2>Skills</h2>


    <div>
      <mat-card>

        <h3 class="title">
          <mat-icon class="skill-icon">build</mat-icon> <strong>Technical Skills</strong>
        </h3>

        <div class="chips" *ngFor="let skill of tech_skills">
          <h4>{{skill.domain}} &nbsp; : &nbsp; &nbsp;</h4>
          <div fxLayout="row" fxLayoutAlign="start start">

            <mat-chip-list>

              <mat-chip color="primary" selected *ngFor="let skill of skill.skills">{{skill}}</mat-chip>
            </mat-chip-list>
          </div>

        </div>
      </mat-card>
    </div>

    <div>
      <mat-card>
        <h3 class="title">
          <mat-icon class="skill-icon">mood</mat-icon> <strong>Soft Skills</strong>
        </h3>

        <div class="chips">
          <div fxLayout="row" fxLayoutAlign="start start">
            <mat-chip-list>
              <mat-chip color="primary" selected>Adaptability</mat-chip>
              <mat-chip color="primary" selected>Written and oral communication</mat-chip>
              <mat-chip color="primary" selected>Analytical thinking</mat-chip>
              <mat-chip color="primary" selected>Detail Orientation</mat-chip>

            </mat-chip-list>
          </div>
        </div>
      </mat-card>
    </div>

    <div>
      <mat-card>
        <h3 class="title">
          <mat-icon class="skill-icon">translate</mat-icon><strong>Languages</strong>
        </h3>

        <div class="chips">
          <div>- &nbsp; English&nbsp;&nbsp;&nbsp;(fluent)</div>
          <div>- &nbsp; Arabic&nbsp;&nbsp;&nbsp;&nbsp;(native)</div>
          <div>- &nbsp; French&nbsp;&nbsp;&nbsp;(limited working proficiency)</div>
          <div>- &nbsp; Spanish&nbsp;(elementary proficiency)</div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
