.inline{
  margin: 0px;
  padding: 0;
  margin-bottom: 2px;
  min-width: max-content;
}

.skill-lists div{
  margin-top: 20px;
}

.chips{
  margin-left: 60px;
}

.title{
  //margin-left: 20px;
}

.skill-icon{
  margin-right: 10px;
  position: relative;
top: 5px;
}

h4{
  position: relative;
top: 6px;
}

mat-card{
  padding-bottom: 40px;
}

.mat-chip.mat-standard-chip.mat-chip-selected.mat-primary {
  background-color: #9980c6 !important;
  color: #fff !important;
}
