<div fxLayout="row" fxLayoutAlign="center center">
  <div fxFlex="100" class="skill-lists">
    <h2>Skills</h2>


    <div>
      <mat-card>

        <h3 class="title">
          <mat-icon class="skill-icon">build</mat-icon> <strong>Technical Skills</strong>
        </h3>

        <div class="chips">
          <div fxLayout="row" fxLayoutAlign="start start">

            <mat-chip-list>
              <h4>Programming Languages &nbsp; : &nbsp; &nbsp;</h4>
              <mat-chip color="primary" selected>C/C++</mat-chip>
              <mat-chip color="primary" selected>Java</mat-chip>
              <mat-chip color="primary" selected>Python</mat-chip>
              <mat-chip color="primary" selected>C#</mat-chip>
              <mat-chip color="primary" selected>Bash</mat-chip>
            </mat-chip-list>
          </div>

          <div fxLayout="row" fxLayoutAlign="start start">

            <mat-chip-list>
              <h4>Web Development &nbsp; : &nbsp; &nbsp;</h4>
              <mat-chip color="primary" selected>HTML/CSS/JS/PHP</mat-chip>
              <mat-chip color="primary" selected>Angular</mat-chip>
              <mat-chip color="primary" selected>Vue.js</mat-chip>
              <mat-chip color="primary" selected>Prestashop</mat-chip>
              <mat-chip color="primary" selected>Symfony</mat-chip>
              <mat-chip color="primary" selected>.Net Core</mat-chip>
              <mat-chip color="primary" selected>NestJS</mat-chip>
              <mat-chip color="primary" selected>Express</mat-chip>
            </mat-chip-list>
          </div>


          <div fxLayout="row" fxLayoutAlign="start start">

            <mat-chip-list>
              <h4>Databases &nbsp; : &nbsp; &nbsp;</h4>
              <mat-chip color="primary" selected>MySQL</mat-chip>
              <mat-chip color="primary" selected>Oracle</mat-chip>
              <mat-chip color="primary" selected>MongoDB</mat-chip>
            </mat-chip-list>
          </div>


          <div fxLayout="row" fxLayoutAlign="start start">

            <mat-chip-list>
              <h4>DevOps &nbsp; : &nbsp; &nbsp;</h4>
              <mat-chip color="primary" selected>Docker</mat-chip>
              <mat-chip color="primary" selected>Openshift</mat-chip>
              <mat-chip color="primary" selected>Kubernetes</mat-chip>
              <mat-chip color="primary" selected>Puppet</mat-chip>
              <mat-chip color="primary" selected>Terraform</mat-chip>
              <mat-chip color="primary" selected>AWS</mat-chip>
            </mat-chip-list>
          </div>


          <div fxLayout="row" fxLayoutAlign="start start">
            <mat-chip-list>
              <h4>Other &nbsp; : &nbsp; &nbsp;</h4>
              <mat-chip color="primary" selected>Git</mat-chip>
              <mat-chip color="primary" selected>Unity</mat-chip>
              <mat-chip color="primary" selected>STM32</mat-chip>
              <mat-chip color="primary" selected>Arduino</mat-chip>
            </mat-chip-list>
          </div>

        </div>
      </mat-card>
    </div>

    <div>
      <mat-card>
        <h3 class="title">
          <mat-icon class="skill-icon">mood</mat-icon> <strong>Soft Skills</strong>
        </h3>

        <div class="chips">
          <div fxLayout="row" fxLayoutAlign="start start">
            <mat-chip-list>
              <mat-chip color="primary" selected>Adaptability</mat-chip>
              <mat-chip color="primary" selected>Time Management</mat-chip>
              <mat-chip color="primary" selected>Communication</mat-chip>
            </mat-chip-list>
          </div>
        </div>
      </mat-card>
    </div>

    <div>
      <mat-card>
        <h3 class="title">
          <mat-icon class="skill-icon">translate</mat-icon><strong>Languages</strong>
        </h3>

        <div class="chips">
          <div>- &nbsp; English&nbsp;&nbsp;&nbsp;(fluent)</div>
          <div>- &nbsp; Arabic&nbsp;&nbsp;&nbsp;&nbsp;(native)</div>
          <div>- &nbsp; French&nbsp;&nbsp;&nbsp;(limited working proficiency)</div>
          <div>- &nbsp; Spanish&nbsp;(elementary proficiency)</div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
