@import "~bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
h1,
h2,
h3,
h4,
h5,
h6,
div,
span,
p {
  font-family: "ubuntu" !important;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.linkedin {
  background-image: url("./assets/icons/linkedin-logo.png");
}

.email {
  background-image: url("./assets/icons/envelope.png");
}

.github {
  background-image: url("./assets/icons/github-inverted.png");
}

.location {
  background-image: url("./assets/icons/placeholder.png");
}

.phone {
  background-image: url("./assets/icons/call-answer.png");
}

.link {
  margin-bottom: 1px;
  background-image: url("./assets/icons/external-link-symbol.png");
}

.coursera {
  background-image: url("./assets/icons/coursera.png");
  margin-bottom: 2px;
}

.icon {
  /*filter: brightness(0.5) sepia(1) saturate(1000%) !important;*/
  filter: brightness(0) sepia(1) saturate(1000%) !important;
  width: 15px;
  height: 15px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 10px;
  display: inline-flex;
  position: relative;
  top: 3px;
  margin-right: 5px;
}

.link-word {
  color: black;
  margin-right: 10px;
}

.mat-expansion-panel {
  margin-bottom: 10px !important;
  border-radius: 5px !important;
}

.mat-flat-button,
.mat-raised-button,
.mat-fab,
.mat-mini-fab,
.mat-stroked-button {
  margin-bottom: 5px !important;
}

.mat-list-item {
  min-height: 48px !important;
  height: auto !important;
  align-items: center !important;
  display: grid !important;
}

.mat-chip {
  height: auto !important;
}

.text-muted {
  position: relative;
  top: 1px;
  margin-left: 10px;
}

.mat-flat-button.mat-primary,
.mat-raised-button.mat-primary,
.mat-fab.mat-primary,
.mat-mini-fab.mat-primary {
  background-color: //#234dd0 !important;
  //#234dd0cc !important;
  #1e8401cc !important;
}
.mat-flat-button.mat-accent,
.mat-raised-button.mat-accent,
.mat-fab.mat-accent,
.mat-mini-fab.mat-accent {
  background-color: #898a93 !important;
  //background-color: #FC9E1D !important;
  //color: white !important;
  //background-color: #959cff !important;
  color: white !important;
}
.mat-button.mat-primary,
.mat-icon-button.mat-primary,
.mat-stroked-button.mat-primary {
  color: #234dd0;
}
h2 {
  /*color: white;
background-color: black;
padding-left: 10px;
width: 100%;
box-shadow: 2px 2px 6px #887b7b, -2px -2px 6px #fffdfd;
border-radius: 5px;*/
  margin-top: 5px !important;
  //height: min-content;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.mat-ink-bar {
  background-color: #000 !important;
}
.mat-tab-label-active {
  color: #000 !important;
  opacity: 1 !important;
}


.accord-btns {
  display: inherit;
}

.accord-btns button {
  height: min-content !important;
}

::-moz-selection { /* Code for Firefox */
  color: white;
  background: #2f4858;
}

::selection {
  color: white;
  background: #2f4858;
}